body {
    font-family: 'Times New Roman', Times, serif;
}

#after_submit {
    visibility: hidden;
}

#quiz {
    margin-left: 10px;
    background: lightskyblue;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
}

input {
    margin-bottom: 20px;
}

#button {
    background: mediumaquamarine;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 18px;
    transition-duration: .5s;
    margin-top: 15px;
    margin-bottom: 15px;
}

#button:hover {
    background: darkolivegreen;
    border: 2px black;
    cursor: pointer;
}

#after_submit {
    visibility: hidden;
    background: white;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    float: left;
    margin-left: 20px;
    font-size: 20px;
}